body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

  }
  
  img {
    width: 100px;
    height: 100px;
    
  }
  
  .title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 32px;
  }
  
.container{
    display: flex;
    justify-content: space-evenly;
}

.info{
width: 150px;

}


