.nav{
 background-color: rgb(247, 222, 181);
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 8px;
}

.logo{
color: rgb(255, 81, 50);
background-color: white;
font-size: 40px;
padding: 5px;
width: 150px;
text-align: center;
font-weight: bold;
}

ul{
list-style-type: none;
font-weight: bold;
display: flex;
margin: 0;
padding: 0;
gap: 8px;
}

a{
    text-decoration: none;
    background: white;
    padding: 8px;
}