.d1{background-color: pink;
    border: 2px solid blue;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 20px;
    width: 350px;
}


.d2{background-color: aqua;
    border: 2px solid purple;
    margin-bottom: 40px;



}


.d3{background-color: rgb(247, 203, 187);
    border: 2px solid orangered;
    padding: 40px;
    margin-left: 150px;

}


